.board {
    height: 40vh;
    width: 100vw;
    background-color: #0B1C22;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
    font-family: "Spartan";
}

.board .topHeading {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.board .scrollContainer {
    height: 100%;
    max-width: 85vw;
    margin-left: 15vw;
    justify-self: flex-end;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: transparent;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.board .scrollContainer .boardMember {
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board .scrollContainer .boardMember .profilePhoto {
    height: 50%;
    aspect-ratio: 1;
    border-radius: calc(50%);
    object-fit: contain;
    background-color: white;
    margin-bottom: 10%;
}

.board .scrollContainer .boardMember h1 {
    font-size: large;
}

.board .scrollContainer .boardMember p {
    font-size: small;
    color: rgb(206, 206, 206);
}